div#content {
    #register {
        fieldset#personal_registration {
            p {
                label {
                    display: block;
                    input {
                        margin-left: 2em;
                    }
                }
            }

            textarea {
                width : calc( 100% - 8px );
                height: 100px;
            }
        }

        td {
            input[type="text"] {
                margin: -1px -3px -1px -3px;
                height: 20px;
                border-color: transparent;
            }

            input[type="text"]:hover {
                border-color: blue;
            }

            select {
                margin: -1px -3px -1px -3px;
                height: 24px;
                border-color: transparent;
            }

            select:hover {
                border-color: blue;
            }

            input[type="text"].short {
                width: 40px;
            }

            select, textarea, input[type="text"] {
                padding-right: 10px;
            }

            &.checkbox {
                padding: 0px;
                text-align: center;
            }

            &.checkbox input[type="checkbox"] {
                margin-top: 5px;
            }

            &.checkbox input[type="checkbox"]:hover {
                outline: 1px solid blue;
            }
        }

        i.fa-solid, i.fa-regular {
            padding: 0 0.2em;
        }

        i.fa-solid:hover, i.fa-regular:hover {
            font-weight: bold;
            color: blue;
            cursor: pointer;
        }

        table caption {
            text-align: right;
        }

        tr.inactive td,
        tr.inactive td input,
        tr.inactive td select {
            background-color: #f0f0f0;
        }

        div.register_quizzers {
            overflow-x: auto;

            table {
                td input {
                    padding-right: 0.25em;
                }

                select {
                    background-color: transparent;
                }

                tr {
                    td:nth-of-type(1) {
                        min-width: 40px;
                    }

                    @media (max-width: 1070px) {
                        td {
                            input[name="name"],
                            input[name="notes"] {
                                width: 70px;
                            }
                        }
                    }

                    @media (max-width: 870px) {
                        td {
                            input[name="grade"] {
                                width: 16px;
                            }
                        }

                        th:nth-of-type(5),
                        th:nth-of-type(6),
                        th:nth-of-type(7),
                        th:nth-of-type(8),
                        th:nth-of-type(9) {
                            width         : 8px;
                            min-width     : 8px;
                            max-width     : 8px;
                            writing-mode  : vertical-rl;
                            padding       : 0.3em 1em 0.3em 0px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    div#meet_data {
        form {
            margin-bottom: 1em;

            label {
                margin-left: 0.5em;
            }
        }
    }
}
