div#register {
    fieldset#personal_registration {
        p {
            label {
                display: block;
                input {
                    margin-left: 2em;
                }
            }
        }
    }

    td {
        input[type="text"] {
            margin: -1px -3px -1px -3px;
            height: 20px;
            border-color: transparent;
        }

        input[type="text"]:hover {
            border-color: blue;
        }

        select {
            margin: -1px -3px -1px -3px;
            height: 24px;
            border-color: transparent;
        }

        select:hover {
            border-color: blue;
        }

        input[type="text"].short {
            width: 40px;
        }

        select, textarea, input[type="text"] {
            padding-right: 10px;
        }

        &.checkbox {
            padding: 0px;
            text-align: center;
        }

        &.checkbox input[type="checkbox"] {
            margin-top: 5px;
        }

        &.checkbox input[type="checkbox"]:hover {
            outline: 1px solid blue;
        }
    }

    i.la {
        padding-right: 0.01em;
    }

    i.la:hover {
        padding-right: 0px;

        font-weight: bold;
        color: blue;
        cursor: pointer;
    }

    table caption {
        text-align: right;
    }

    tr.inactive td,
    tr.inactive td input,
    tr.inactive td select {
        background-color: #f0f0f0;
    }

    div.register_quizzers {
        overflow-x: auto;

        table {
            min-width: 53.5em;
        }
    }
}
