<div id="content_footer_buffer"></div>
<div id="content_footer">
    <p>
        If you have any questions, would like to participate in quizzing, or
        would like assistance starting a quiz program, please email us:
        <a href="mailto:contact@pnwquizzing.org">contact@pnwquizzing.org</a>
        <i class="fa-regular fa-envelope"></i>
    </p>
</div>
