[% IF type == 'csv' %]<i class="fa-solid hover_expand fa-table"></i>[% END %]
[% IF type == 'pdf' %]<i class="fa-regular hover_expand fa-file-pdf"></i>[% END %]
[% IF type == 'xls' %]<i class="fa-regular hover_expand fa-file-excel"></i>[% END %]
[% IF type == 'doc' %]<i class="fa-regular hover_expand fa-file-word"></i>[% END %]
[% IF type == 'ppt' %]<i class="fa-regular hover_expand fa-file-powerpoint"></i>[% END %]
