<div id="nav_footer">
    [% UNLESS user %]
        <a href="mailto:contact@pnwquizzing.org">Contact</a>
        <i class="fa-regular fa-envelope"></i>
        |
        <a href="[% c.url_for('/user/account') %]"
            [% IF c.url_for('/user/account') == c.req.url.to_abs.path %]
                class="current"
            [% END %]
            >Sign-Up</a>
    [% ELSE %]
        [% PROCESS nav_links.html.tt, short = 1 %]
    [% END %]
</div>
